attrs==21.4.0
build==1.4.0
click==8.3.1
flake8==7.3.0
iniconfig==1.1.1
mccabe==0.7.0
packaging==26.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.14.0
pyflakes==3.4.0
pyparsing==3.0.9
pyproject_hooks==1.2.0
pytest==7.1.2
setuptools==82.0.1
tomli==2.0.1
wheel==0.46.3
